@model WebApi.Infrastructure.Models.Storage.User
@{
    ViewBag.Title = "Смена пароля";
    Layout = "_AdminLayout";
}

<h2>Информация о пользователе</h2>

<table class="table table-bordered w-50">
    <tr>
        <th>Имя</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Фамилия</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Логин</th>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <th>Последний вход</th>
        <td>@Model.LastLogin.ToString("g")</td>
    </tr>
    <tr>
        <th>Текущий пароль</th>
        <td>@Model.Password</td>
    </tr>
</table>

<h3>Сменить пароль</h3>

<form method="post" asp-action="ChangePasswordForUser">
    <input type="hidden" name="userId" value="@Model.Id" />
    <div class="mb-3 w-50">
        <label name="newPassword" class="form-label">Новый пароль</label>
        <input type="password" class="form-control" name="newPassword" required />
    </div>
    <button type="submit" class="btn btn-primary">Сменить пароль</button>
    <a href="@Url.Action("Users", "Admin")" class="btn btn-secondary">Назад</a>
</form>