@model WebApi.Infrastructure.Models.DTO.TaskDto

@{
    ViewBag.Title = "Задания";
    Layout = "_AdminLayout";
}

<style>
    form.custom-form {
        max-width: 650px;
        margin: 0 auto;
        padding: 25px;
        background-color: #f9f9f9;
        border-radius: 12px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        font-family: sans-serif;
    }

    .custom-form label {
        display: block;
        margin-bottom: 5px;
        font-weight: 600;
        color: #444;
    }

    .custom-form input[type="text"],
    .custom-form input[type="number"],
    .custom-form textarea,
    .custom-form input[type="file"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 6px;
        transition: border-color 0.2s;
    }

    .custom-form input:focus,
    .custom-form textarea:focus {
        border-color: #007bff;
        outline: none;
    }

    .custom-form button {
        padding: 10px 20px;
        background-color: #007bff;
        border: none;
        color: white;
        border-radius: 6px;
        font-weight: 600;
        cursor: pointer;
        margin-top: 10px;
    }

    .custom-form button:hover {
        background-color: #0056b3;
    }

    .custom-form .task-image {
        display: block;
        margin: 10px auto;
        max-width: 500px;
        border-radius: 5px;
    }

</style>

<form asp-action="EditTask" asp-controller="Admin" method="post" enctype="multipart/form-data" class="custom-form">
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="ThemeId" value="@Model.ThemeId" />
    <input type="hidden" name="FilePath" value="@Model.FilePath"/>

    @if (Model.FilePath != null)
    {
        <img src="@Model.FilePath" alt="Изображение задания" class="task-image"/>
    }

    <label for="Image">Картинка (опционально)</label>
    <input id="Image" type="file" name="Image" accept="image/*" />
    
    <label for="Text">Текст задания</label>
    <textarea id="Text" name="Text" rows="4" required>@Model.Text</textarea>

    <label for="CorrectAnswer">Правильный ответ</label>
    <input id="CorrectAnswer" name="CorrectAnswer" type="text" required value="@Model.CorrectAnswer" />

    <label for="DifficultyLevel">Уровень сложности</label>
    <input id="DifficultyLevel" name="DifficultyLevel" type="number" min="1" max="5" required value="@Model.DifficultyLevel" />
    
    @for (int i = 0; i < @Model.AnswerVariants.Count; i++)
    {
        <label for="AnswerVariants">Вариант ответа @(i + 1)</label>
        <input id="AnswerVariants" name="AnswerVariants" type="text" value="@Model.AnswerVariants[i]"/>
    }

    <label for="Hint">Комментарий</label>
    <input id="Hint" name="Hint" type="text" required value="@Model.Hint"/>

    <button type="submit">Сохранить</button>
</form>
